body {
  font-size: 14px;
  padding: var(--main-padding);
  font-family: "Inter", sans-serif;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.card {
  background: var(--tg-theme-secondary-bg-color);

  color: var(--tg-theme-text-color);
}

.rect {
  fill: var(--tg-theme-hint-color);
}
.rect-text {
  fill: var(--tg-theme-text-color);
}
